{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Films disponibles</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description|truncatewords:30 }}</p>
                    <a href="{% url 'movies:movie_detail' movie.pk %}" class="btn btn-primary">
                        Voir les détails
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}